body,
html {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    flex-direction: column;
    /* 设置为列布局 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    background-color: #f0f0f0;
    color: #333;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* 打字效果、内容和按钮区分开 */
    height: 100vh;
    /* 可视窗口高度 */
}

body.dark-mode {
    height: 100%;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* 设置为列布局 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    background: #333;
    color: #f0f0f0;
}

#typing {
    grid-row: 1;
    white-space: pre;
    font-size: 24px;
    color: #333;
    margin-bottom: 40px;
    margin-top: 100px;
    /* 在打字动效和按钮之间添加一些空间 */
}

.links {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    cursor: pointer;
}

.button.dark-mode {
    background-color: #555;
    color: #ddd;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

#typing {
    white-space: pre;
    font-size: 24px;
    color: #333;
    position: relative;
    /* 确保能够相对于此元素定位光标 */
}

#typing:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin-left: 5px;
    animation: blink-cursor 1s infinite;
}

@keyframes blink-cursor {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
        /* 光标在原始大小和放大50%之间变化 */
    }
}

footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 设置所有超链接的默认颜色 */
.icp {
    color: #D3D3D3; /* 浅灰色 */
    text-decoration: none; /* 可选：去除下划线 */
}

/* 设置超链接在鼠标悬停时的颜色 */
.icp:hover {
    color: #A9A9A9; /* 暗灰色，以提供一些视觉反馈 */
}

/* 设置超链接在被点击时的颜色 */
.icp:active {
    color: #808080; /* 更深的灰色 */
}

/* 设置超链接在被访问后的颜色 */
.icp:visited {
    color: #C0C0C0; /* 已访问链接的颜色，也是灰色系列 */
}
